<!DOCTYPE html>
<head>
	<title>Admin Login - STAMINA API</title>
	<link rel="stylesheet" href="https://staminachecker.org/styles.css">
</head>
<body>
	<div class="content">
		<h1>Log into the admin page</h1>
		<form method="POST" action="./admin" enctype="multipart/form-data">
			<label for="username">Username</label>
			<input type="text" name="username" />
			<label for="password">Password</label>
			<input type="password" name="password"/>
			<a href="#" onclick="alertLogin()">Forgot your username or password?</a><br>
			<input type="submit" value="Log In"/>
		</form>
	</div>
	<script>
function alertLogin() {
	alert("Cannot reset via web interface. Ask Josh to reset your password manually.");
}
	</script>
	<div class=footer>
		<div id="slogo"><b>STAMINA</b></div> is provided as a free service and funded via NSF Grants 1856733, 1856740, and 1900542
	</div>
	<script>
	refreshApiUrl();
	</script>
</body>
